<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/common::common_head(title='管理员')}"></head>
<body>
<div class="row" id="admin">
    <div class="col-md-2 nav-list" th:replace="~{admin/common::common_nav_list(nav='adminUser')}"></div>
    <div class="col-md-10">
        <div class="main" id="user">
            <div class="btn-act">
                <a th:href="@{/admin/user/create}" class="btn btn-primary" target="_blank">新增</a>
                <a th:data-href="@{/admin/user/removeSome}" class="btn btn-danger removeSome" target="_blank">删除</a>
            </div>

            <table class="table table-bordered table-hover">
                <tr>
                    <th><input type="checkbox" class="check-all"></th>
                    <th>昵称</th>
                    <th>账号</th>
                    <th>最后登录时间</th>
                    <th>最后登录IP</th>
                    <th>操作</th>
                </tr>
                <tr th:each="user:${pageInfo.list}">
                    <td><input type="checkbox" th:data-id="${user.userId}" class="check-del"></td>
                    <td th:text="${user.name}">大圣</td>
                    <td th:text="${user.loginName}">king</td>
                    <td th:text="${user.lastLoginTime} ? ${#dates.format(user.lastLoginTime,'yyyy-MM-dd HH:mm')} : '暂未登录'">2022-12-12 11:11</td>
                    <td th:text="${user.lastLoginIp} and  ${#strings.length(user.lastLoginIp) > 0}? ${user.lastLoginIp} : '暂未登录'">192.168.1.128</td>
                    <td><a th:href="@{/admin/user/changePass/} + ${user.userId}" class="btn btn-xs btn-warning"  target="_blank">修改密码</a>
                        <a th:href="@{/admin/user/removeOne/}+${user.userId}" target="_blank" class="btn btn-xs  btn-danger removeOne">删除</a></td>
                </tr>
            </table>

            <nav aria-label="Page navigation" id="pagination" th:replace="~{admin/common::pagination(pageInfo=${pageInfo}, baseLink='/admin/user?pageNum=', searchQuery='')}">
        </div>
    </div>
</div>

<script th:src="@{/js/jquery_3.6.0.min.js}"></script>
<script th:src="@{/js/admin.js}" ></script>
</body>
</html>