<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="common_head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style"  />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title th:text="${title}">小学生作文大全|小学生作文400字</title>
    <meta name="keywords" th:content="${keyword}">
    <meta name="description" th:content="${description}">
    <link rel="stylesheet" th:href="@{/css/m.css}" />
    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/js/touchslide.1.1.js}"></script>
</head>


<header class="header" th:fragment="common_header">
    <section class="fix navbar">
        <a class="ico-home" th:href="@{/}"><span>小学生作文大全</span></a>
        <h1 id="title" th:text="${title}">作文大全</h1>
        <span class="ico-nav navHome">[[${title}]]网导航</span>
    </section>
</header>


<div class="fix search" th:fragment="common_search">
    <form name="f2" th:action="${url}">
        <input type="text" value="" placeholder="请输入关键词..." name="keywords" class="keywords">
        <button type="submit" value="" class="go"></button>
    </form>
</div>

<div class="copyright" id="copyright-bottom" th:fragment="common_copyright">
    <input type="hidden" id="bottom" th:value="${bottom}" />
    <p>Copyright &copy; m.baidu.com <a href="#">小学生作文大全</a>手机版</p>
</div>

<div id="mybottom" th:fragment="common_bottom">
    <!-- 下拉导航菜单 -->
    <nav id="nav" class="nav home">
        <h3><a href="/">[[${title}]]网</a></h3>
        <div id="scrollerBox" class="scrollerBox">
            <div class="scroller">
                <ul>
                    <li th:each="nav:${navs}"><a th:href="@{/list/}+${nav.cateId}+'.html'" th:text="${nav.cateName}">三年级作文</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 下拉导航菜单END -->

    <script th:src="@{/js/index.js}"></script>
    <script>
        var bottom = $("#bottom").val();
        $("#copyright-bottom").html(bottom);
    </script>
</div>
