<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::common_head(title=${webInfo.title}, keyword=${webInfo.keyword}, description=${webInfo.description})}">
</head>
<body>
<div id="nav-over"></div>
<div id="warmp" class="warmp">
	<header class="header" th:replace="~{common::common_header(title=${webInfo.title})}"></header>
	<div class="fix search" th:replace="~{common::common_search(url=@{/list/search.html})}"></div>
	
    <div id="zizhi" class="fix honner-focus"></div>

    <div class="tab-news" id="tab-news">
        <div class="tab-news-hd tab-hd-index">
            <ul class="fix">
                <li class="on">最新作文</li>
                <li>热门作文</li>
                <li>网友推荐</li>
            </ul>
        </div>
        <div class="tab-news-con">
            <div class="con list-index active">
                <ul>
                    <li th:each="article:${lastedArticles}"><a th:href="@{/detail/} + ${article.articleId} + '.html'" th:text="${article.title}">38妇女节作文400字</a></li>
                </ul>
            </div>
            <div class="con list-index">
                <ul>
                    <li th:each="article:${hotArticles}"><a th:href="@{/detail/} + ${article.articleId} + '.html'" th:text="${article.title}">为我心中的那片海中考满分作文</a></li>
                </ul>
            </div>
            <div class="con list-index">
                <ul>
                    <li th:each="article:${favorArticles}" ><a th:href="@{/detail/} + ${article.articleId} + '.html'" th:text="${article.title}">冬天的雪作文400字</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-size" id="tab-size">
        <div class="tab-size-hd tab-hd-index">
            <ul class="fix">
                <li th:each="item:${cateList31}" class="on" th:text="${item.cateName}">四年级</li>
            </ul>
        </div>
        <div class="tab-size-con">
            <div th:each="item:${cateList31}" class="con list-index active">
                <ul>
                    <li th:each="article:${item.articles}"><a th:href="@{/detail/} + ${article.articleId} + '.html'" th:text="${article.title}">电影《喵星人》观后感350字</a></li>
                </ul>
                <a class="more" th:href="@{/list/} + ${item.cateId} + '.html'" th:text="'更多'+${item.cateName}+'作文'">更多四年级作文</a>
            </div>
        </div>
    </div>

    <div class="tab-di" id="tab-di">
        <div class="tab-di-hd tab-hd-index">
            <ul class="fix">
                <li th:each="item:${cateList32}" class="on" th:text="${item.cateName}">一年级</li>
            </ul>
        </div>
        <div class="tab-di-con">
            <div th:each="item:${cateList32}" class="con list-index active">
                <ul>
                    <li th:each="article:${item.articles}"><a th:href="@{/detail/} + ${article.articleId} + '.html'" th:text="${article.title}">电影《喵星人》观后感350字</a></li>
                </ul>
                <a class="more" th:href="@{/list/} + ${item.cateId} + '.html'" th:text="'更多'+${item.cateName}+'作文'">更多四年级作文</a>
            </div>
        </div>
    </div>

    <div class="bg about list-pic-index">
        <ul class="fix">
        <li><a href="list.html">作文100字</a></li>
        <li><a href="list.html">作文200字</a></li>
        <li><a href="list.html">作文300字</a></li>
        <li><a href="list.html">作文400字</a></li>
        <li><a href="list.html">作文500字</a></li>
        <li><a href="list.html">作文600字</a></li>
        <li><a href="list.html">作文素材</a></li>
        <li><a href="list.html">作文题目</a></li>
    </ul>
    </div>
    <div class="copyright">
        <p>友情链接： <a th:each="link:${friendLinks}" class="friend-link" th:href="${link.link}" th:text="${link.name}">读后感</a> </p>
    </div>

    <div class="copyright" id="copyright-bottom" th:replace="~{common::common_copyright(bottom=${bottom})}"></div>
</div>
<div id="mybottom" th:replace="~{common::common_bottom(navs=${navs}, title=${webInfo.title})}"></div>
</body>
</html>
