<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::common_head(title=${webInfo.title}, keyword=${webInfo.keyword}, description=${webInfo.description})}">


<body>
<div id="nav-over"></div>
<div id="warmp" class="warmp">
    <header class="header" th:replace="~{common::common_header(title=${webInfo.title})}"></header>
    <div class="fix search" th:replace="~{common::common_search(url=@{/list/} + ${cate.cateId} + '.html')}"></div>
	
	<div class="dh"><a th:href="@{/}">首页</a> > <a href="" th:text="${cate.cateName} + '作文大全'">三年级作文大全</a> > 栏目列表：</div>
	<div class="list-index">
        <ul class=articlelist>
            <li th:each="item:${list}"><a th:href="@{/detail/}+${item.articleId} + '.html'" th:text="${item.title}">妈妈找蝌蚪300字</a></li>
        </ul>
    </div>

    <div class="showpage"><a href="#" title="上一页">上一页</a>   <a href='#'><font color=red>1</font></a> <a href="#" title="第2页">2</a> <a href="#" title="第3页">3</a> <a href="#" title="第4页">4</a>  <a href="#" title="下一页">下一页</a></div>


    <div class="tab-xinqing" id="tab-xinqing">
      <div class="tab-xinqing-hd tab-hd-index">
        <ul class="fix">
            <li class="on">最新文章</li>
            <li>热门范文</li>
            <li>推荐作文</li>
        </ul>
      </div>
      <div class="tab-xinqing-con">
        <div class="con list-index">
            <ul>
		<li><a href="detail.html">开学了200字</a></li><li><a href="detail.html">开学的第一天300字</a></li><li><a href="detail.html">假如我会变400字</a></li><li><a href="detail.html">春天来了200字</a></li><li><a href="detail.html">春天来了300字</a></li><li><a href="detail.html">秋天的景色200字</a></li>
            </ul>
        </div>
        <div class="con list-index">
            <ul>
		<li><a href="detail.html">美丽的校园400字</a></li><li><a href="detail.html">夏天来了400字</a></li><li><a href="detail.html">教你学一招400字</a></li><li><a href="detail.html">看妈妈番茄炒鸡蛋400字</a></li><li><a href="detail.html">储蓄的好处300字</a></li><li><a href="detail.html">我眼中的夏天300字</a></li>
            </ul>
        </div>
        <div class="con list-index active">
            <ul>
		<li><a href="detail.html">我的海洋生活</a></li><li><a href="detail.html">给妈妈的一封信</a></li><li><a href="detail.html">美丽的秋天作文</a></li><li><a href="detail.html">我的好爸爸</a></li><li><a href="detail.html">我的同桌</a></li><li><a href="detail.html">读《鲁滨逊漂流记》有感</a></li>
            </ul>
        </div>
      </div>
   </div>

    <div class="bg about list-pic-index">
        <ul class="fix">
            <li><a href="list.html">作文100字</a></li>
            <li><a href="list.html">作文200字</a></li>
            <li><a href="list.html">作文300字</a></li>
            <li><a href="list.html">作文400字</a></li>
            <li><a href="list.html">作文500字</a></li>
            <li><a href="list.html">作文600字</a></li>
            <li><a href="list.html">作文素材</a></li>
            <li><a href="list.html">作文题目</a></li>
        </ul>
    </div>

    <div class="copyright" id="copyright-bottom" th:replace="~{common::common_copyright(bottom=${bottom})}"></div>
</div>
<div id="mybottom" th:replace="~{common::common_bottom(navs=${navs}, title=${webInfo.title})}"></div>

</body>
</html>