<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="common_head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>后台-[[${title}]]</title>
</head>


<div th:fragment="common_nav_list" class="col-md-2 nav-list">
    <ul>
        <li><a th:href="@{/admin}" th:class="${nav == 'admin'} ? 'active' : ''">首页</a></li>
        <li><a th:href="@{/admin/user}" th:class="${nav == 'adminUser'} ? 'active' : ''">管理员</a></li>
        <li><a th:href="@{/admin/articleCate}" th:class="${nav == 'cate'} ? 'active' : ''">文章分类</a></li>
        <li><a href="">文章管理</a></li>
        <li><a th:href="@{/admin/webinfo}" th:class="${nav == 'webinfo'} ? 'active' : ''">站点信息</a></li>
        <li><a th:href="@{/admin/friend}" th:class="${nav == 'friend'} ? 'active' : ''">友情链接</a></li>
    </ul>
</div>

<!--分页组件-->
<nav aria-label="Page navigation" id="pagination" th:fragment="pagination">
    <ul class="pagination">
        <li th:class="${pageInfo.hasPreviousPage} ? '' : 'disabled'">
            <a th:if="${pageInfo.hasPreviousPage}" th:href="${baseLink}+${pageInfo.prePage}+${searchQuery}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <span th:if="!${pageInfo.hasPreviousPage}">
                 <span aria-hidden="true">&laquo;</span>
            </span>
        </li>

        <li th:each="page:${pageInfo.navigatepageNums}" th:class="${pageInfo.pageNum == page} ? 'active'"><a th:href="${baseLink}+${page}+${searchQuery}" th:text="${page}">1</a></li>

        <li th:class="${pageInfo.hasNextPage} ? '' : 'disabled'">
            <a th:if="${pageInfo.hasNextPage}" th:href="${baseLink}+${pageInfo.nextPage}+${searchQuery}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <span th:if="!${pageInfo.hasNextPage}">
                 <span aria-hidden="true">&raquo;</span>
            </span>
        </li>
    </ul>
</nav>