<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <title>后台-首页</title>
</head>
<body>
    <div class="row" id="admin">
        <div class="col-md-2 nav-list">
            <ul>
                <li><a th:href="@{/admin}" class="active">首页</a></li>
                <li><a th:href="@{/admin/user}">管理员</a></li>
                <li><a href="">文章分类</a></li>
                <li><a href="">文章管理</a></li>
                <li><a href="">站点信息</a></li>
                <li><a href="">友情链接</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="main" id="index">
                <p class="bg-success">欢迎您 <strong>大圣</strong></p>
                <p class="bg-info"><span>上次登录时间：2022/12/12 12:12</span>IP：142.23.42.13</p>
                
                <div class="btn-grp">
                    <a class="btn btn-success">修改密码</a>
                    <a class="btn btn-warning">退出登录</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>