<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snn.article.dao.FriendLinkMapper">
  <resultMap id="BaseResultMap" type="com.snn.article.domain.FriendLink">
    <id column="link_id" jdbcType="BIGINT" property="linkId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="orderby" jdbcType="INTEGER" property="orderby" />
    <result column="is_show" jdbcType="BIT" property="isShow" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from friend_link
    where link_id = #{linkId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.snn.article.domain.FriendLink">
    insert into friend_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null and name.length != ''">`name`,</if>
      <if test="link != null and link.length != ''">link,</if>
      <if test="orderby != null">orderby,</if>
      <if test="isShow != null">is_show,</if>
      <if test="startTime != null">start_time,</if>
      <if test="endTime != null">end_time,</if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null and name.length != ''">#{name},</if>
      <if test="link != null and link.length != ''">#{link},</if>
      <if test="orderby != null">#{orderby},</if>
      <if test="isShow != null">#{isShow},</if>
      <if test="startTime != null">#{startTime},</if>
      <if test="endTime != null">#{endTime},</if>
    </trim>

  </insert>
  <update id="updateByPrimaryKey" parameterType="com.snn.article.domain.FriendLink">
    update friend_link
    <set>
      <if test="name != null and name.length != ''">`name`=#{name},</if>
      <if test="link != null and link.length != ''">link=#{link},</if>
      <if test="orderby != null">orderby=#{orderby},</if>
      <if test="isShow != null">is_show=#{isShow},</if>
      <if test="startTime != null">start_time=#{startTime},</if>
      <if test="endTime != null">end_time=#{endTime},</if>
    </set>
    where link_id = #{linkId}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select link_id, name, link, orderby, is_show, start_time, end_time
    from friend_link
    where link_id = #{linkId,jdbcType=BIGINT}
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select link_id, `name`, link, orderby, is_show, start_time, end_time
    from friend_link
    <where>
      <if test="name != null and name != ''">and `name` like concat(#{name}, '%')</if>
      <if test="isShow != null">and is_show = #{isShow}</if>
    </where>
    order by orderby desc
  </select>
  <select id="selectShowLinks" resultMap="BaseResultMap">
    select link_id, `name`, link, orderby, is_show, start_time, end_time
    from friend_link where is_show=1 and CURRENT_TIMESTAMP > start_time and end_time > CURRENT_TIMESTAMP
    order by orderby desc
  </select>
</mapper>